@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    min-height: 100vh;
    background: linear-gradient(#1E002E, #2A2433);
    background: -moz-linear-gradient(#1E002E, #2A2433);
    font-family: 'Noto Sans', sans-serif;
}

body *:not(script){
    display: block;
    margin: auto;
}

.audio{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

label{
    color: #A6A56E;
    width: fit-content;
    width: -moz-fit-content;
}

input{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    outline: none;
    border: none;
    width: 60%;
}

.audio_submit{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.4rem;
}
